<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.selling">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Selling"
        android:title="@string/app_name">
        <activity android:name=".MainActivity"/>
        <activity
            android:name=".ViewProduct"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DetailedProduct"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".AccountCreated" />
        <activity android:name=".SignUp" />
        <activity
            android:name=".Login"
            android:label="@string/app_name"
            android:theme="@style/Theme.Selling.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>